@font-face {
  font-family:'digital-7-mono';
  src:url('digital-7/digital-7 mono.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: 
    url('images/filter-box.png'),
    url('images/img01.jpg') fixed;
  background-size:cover;
  background-repeat: no-repeat;
  width: 1920px;
  height: 1280px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.date-wrapper {
  font-family:'digital-7-mono', monospace;
  font-size: 100px;
}

section {
  text-shadow: 1px 1px 4px rgba(0,0,0, 0.7);
}

section h1 {
  font-size: 40px;
}

.author {
  font-size: small;
}